$main-color: #345;
$secondary-color: #434643;
$header-height: 7.5vh;
$online-color: green;
$logo-color: red;
$online-players-circle-size: 11px;
$border-color: red;
$margin-between-opts: 17px;
$text-color: white;
$icon-color: #717468;