$main-color: #22252A;
$secondary-color: #2D3035;
$nav-color: #2D3035;

$online-color: #007236;
$border-color: #82152F;
$text-color: #9C9C9D;
$icon-color: #576462;

$header-height: 7.5vh;
$online-players-circle-size: 11px;
$margin-between-opts: 17px;
